@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/brands.scss";
@import "scss/regular.scss";

$back-head-color: #7974a3;
$back-color: #c75f8e;
$back-main-color: #e3d1d9;
$color-light: #e2e1ed;
$nav-top-color: #3d32a1;
$nav-top-color2: #575099;
$h2-color: #4f474d;
$h1-color: #a30569;


body {
  li {
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
  h1 {
    color: $h1-color;
    font-family: 'Lobster', cursive;
    font-size: 80px;
  }
  h2,
  h4,
  h5 {
    color: $h2-color;
  }
}

main {
  background-color: $back-main-color;
}

footer {
  background-color: $back-color;
  color: $h2-color;
  a {
    color: $h2-color;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
  }
}

.div-head {
  background-color: $back-head-color;
  color: white;
  font-weight: bold;
  font-size: 19px;
  a:hover {
    color: $color-light;
  }
}

.nav-top a {
  color: $nav-top-color;
  font-weight: bold;
  font-size: 18px;
  &:hover {
    color: $nav-top-color2;
  }
}

.txt-color {
  color: $nav-top-color;
  &:hover {
    color: $nav-top-color2;
  }
}

.expand-month:hover {
  margin: 0 -15px;
  background-color: white;
  z-index: 15;
}

.terms,
.terms a {
  font-size: 15px;
}

.display-on {
  opacity: 0;
  transition: opacity .5s ease;
  overflow: scroll;
}

.display-on:hover {

  opacity: .9;
  background-color: rgba(255, 255, 255, 0.5);
}
/*
.display-on {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  z-index: 99;
  opacity: 0;
  transition: opacity .5s ease;
}

.display-on:hover {
  color: black;
  opacity: .9;
  background-color: rgba(255, 255, 255, 0.5);
}*/
