$back-head-color: #7f5ba8;
$back-color: #c75f8e;
$back-main-color: #e3d1d9;
$color-light: #baa7cf;

body {
  li {
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

main {
  background-color: $back-main-color;
}

footer {
  background-color: $back-color;
}

.bg-color-head {
  background-color: $back-head-color;
  color: white;
  font-weight: bold;
  a:hover {
    color: $color-light;
  }
}

.div-head {


}
