$back-color: #c75f8e;
$back-main-color: #e3d1d9;

body {
  li {
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

main {
  background-color: $back-main-color;
}

footer {
  background-color: $back-color;
}
