@font-face {
  font-family: "Gotham";
  src: url("./HomepageBaukasten-Bold.otf");
}

@font-face {
  font-family: "Hero Light";
  src: url("./Hero-Light.otf");
}

.peoj-rew1 {
  font-family: "Hero Light";
}
.proj-requi {
  font-family: "Gotham";
}
